@namespace Blazr.App.UI
@inherits EditorFormBase<DmoWeatherForecast, WeatherForecastId, WeatherForecastEditContext, WeatherForecastUIEntityService, WeatherForecastEditContextValidator>

<div class="row">

    <BlazrDateControl class="form-control mb-2"
                      ColumnCss="col-12 col-md-6 mb-2"
                      Label="Date"
                      @bind-Value="this.Presenter.EditMutator.Date" />

    <BlazrNumberControl UpdateOnInput
                        class="form-control mb-2"
                        ColumnCss="col-12 col-md-6 mb-2"
                        Label="Temperature &deg;C"
                        @bind-Value="this.Presenter.EditMutator.Temperature" />

</div>

<div class="row">

    <BlazrTextControl UpdateOnInput
                      class="form-control mb-2"
                      ColumnCss="col-12 col-md-8 mb-2"
                      Label="Summary"
                      @bind-Value="this.Presenter.EditMutator.Summary" />
</div>

@code {

    protected override Task OnParametersSetAsync()
    {
        if (!this.Initialized)
        {
        }

        return base.OnParametersSetAsync();
    }
}