@namespace Blazr.App.UI
@typeparam TRecord where TRecord : class, new()
@typeparam TKey where TKey : notnull

@inherits BlazrControlBase

@code {
    protected string TableCss = "table table-sm table-striped table-hover border-bottom no-margin hide-blank-rows";
    protected string GridCss = "grid";

    protected override RenderFragment Frame => (__builder) =>
    {
        <div class="d-flex flex-row mb-1 pt-1 border-bottom">
            <div class="flex-fill justify-content-start h4">
                @this.formTitle
            </div>
            <div class="justify-content-end">
                @this.HeaderButtonContent
            </div>
        </div>

        @this.Body

        <BsModalDialog @ref=modalDialog />

    };

    protected virtual RenderFragment? HeaderButtonContent { get; }
}
